body{
    text-align: center;
}
body.game{
    text-align: center;
    background-image: url("Resources/wood.jpg");
}
img{
    max-width: 30%;
    max-height: 30%;
    position: relative;
    }
img.hang{
    max-width: 30%;
    max-height: 30%;
    position: relative;
    left: 50px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.zoom {
    padding: 50px;
    transition: transform .2s; 
    margin: 0 auto;
  }
.zoom:hover {
    transform: scale(1.5); 
  }
button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}
.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
} 
button:hover .button_top {
    transform: translateY(-0.33em);
}
button:active .button_top {
    transform: translateY(0);
}
.playerlist{
    text-align: left;
    font-weight: bold;
    background: rgba(#ffffff, .6);
}